# 实验一 数据探索与预处理

## 1 数据清洗

### 1.1 找出不符合规则的数据并进行修正

In [1]:
import pandas as pd
import numpy as np

# 读取csv
# 中文解码这个我也不知道怎么高效处理，一般试试utf-8再试试gbk，再不行就搜索报错信息...
data = pd.read_csv("ex1.csv", encoding='gb18030')

# 查看数据
data.head()

,是否认证,姓名,部门-职务,公司名称,工作内容,qq,email,tel,公司是否认证,注册资金,公司成立时间,公司年龄,教育经历,工作经历
0,1,陈文才,客户经理,重庆心联宇科技有限公司,NaN,NaN,NaN,NaN,1,200万,2017/1/20,1年,重庆科技学院 1 热能与动力工程 2012-08-01 2016-06-01,重庆心联宇科技有限公司
1,1,黄彬,总部 执行董事,重庆善古堂科技有限公司,NaN,NaN,NaN,NaN,1,100万,2009/5/25,9年,第一军医大学 1 临床医学系 1990-01-01 1993-01-01,重庆善古堂科技有限公司 总部 执行董事 2008-05-01 现在
2,1,李玉萍,短信营销部 销售经理,北京亿美软通科技有限公司广州分公司,短信群发推广，短信验证码,NaN,NaN,NaN,1,NaN,2010/9/27,7年,广东农工商职业技术学院 0 市场营销 2014-09-01 2017-06-01,北京亿美软通科技有限公司广州分公司 短信营销部 销售经理
3,1,黄勇钦,市场部 大客户销售经理,重庆亿邦运输有限责任公司,川渝地区的仓储配送业务以及西南地区网络招商加盟。,NaN,NaN,NaN,1,200万,2009/1/7,9年,NaN,重庆亿邦运输有限责任公司
4,1,王旺,市场部 销售经理,深圳市深米网络科技有限公司,极速上线小程序,NaN,NaN,NaN,1,1000万,2014/5/30,4年,NaN,深圳深米网络科技有限公司

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7484 entries, 0 to 7483
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   是否认证    7484 non-null   int64
 1   姓名      7483 non-null   object
 2   部门-职务   7483 non-null   object
 3   公司名称    7453 non-null   object
 4   工作内容    4458 non-null   object
 5   qq      743 non-null    float64
 6   email   1053 non-null   object
 7   tel     1956 non-null   float64
 8   公司是否认证  7484 non-null   int64
 9   注册资金    6685 non-null   object
 10  公司成立时间  6973 non-null   object
 11  公司年龄    6971 non-null   object
 12  教育经历    2129 non-null   object
 13  工作经历    7150 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 818.7+ KB

In [7]:
# 消除空格
data.replace("\s+", "", regex=True, inplace=True)

# 将姓名字段的非中文清空
data["姓名"].replace(r'[^\u4e00-\u9fa5]+', np.NaN, regex=True, inplace=True)

# 去除姓名字段为空的行
data.dropna(subset=["姓名"], inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7210 entries, 0 to 7482
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   是否认证    7210 non-null   int64
 1   姓名      7210 non-null   object
 2   部门-职务   7210 non-null   object
 3   公司名称    7181 non-null   object
 4   工作内容    4337 non-null   object
 5   qq      731 non-null    float64
 6   email   1037 non-null   object
 7   tel     1925 non-null   float64
 8   公司是否认证  7210 non-null   int64
 9   注册资金    6485 non-null   object
 10  公司成立时间  6761 non-null   object
 11  公司年龄    6759 non-null   object
 12  教育经历    2087 non-null   object
 13  工作经历    6896 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 844.9+ KB

### 1.2 根据字段含义将数据处理为合适的格式

### 1.3	进行数据概化

## 2 数据可视化

### 2.1 按照数据类型进行图表展示

### 2.2 相关分析

### 2.3 对比分析

## 3 思考

### 3.1 数据隐私保护